body {
  background-color: #ffc7c7;
}
hr{
  border-style: dotted none none;
  border-width: 7px;
  border-color: grey;
  width: 3%;
}
h1{color: #71c9ce;}
h3{color: #71c9ce;}
.circular{
  border-radius: 100%;
}
